@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
@layer base {
    input:-webkit-autofill {
        @apply text-white;
        -webkit-box-shadow: 0 0 0 1000px #261046 inset !important;
        -webkit-text-fill-color: theme("colors.white") !important;
    }

    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 1000px #261046 inset !important;
        -webkit-text-fill-color: theme("colors.white") !important;
    }
}
/* Scrollbar tổng */
.custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #3b3b3d #1e1e22;
}

/* Chrome / Edge */
.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent; /* không quá đậm */
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: rgba(120, 120, 120, 0.25); /* mềm, trong suốt, không thô */
    border-radius: 8px;
    transition: background 0.2s ease;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(160, 160, 160, 0.45); /* hover sáng nhẹ */
}
